<h1><u>Welcome to Rock Paper Scissors!</u></h1>
<br>
<h3>Pick your weapon to fight the computer...</h3>
<li><a href="/Rock/<%= @choice %>">Rock</a></li>
<li><a href="/Paper/<%= @choice %>">Paper</a></li>
<li><a href="/Scissors/<%= @choice %>">Scissors</a></li>
