<h1>Welcome to Rock Paper Scissors!</h1>
<br>
<h3>Pick your weapon to fight the computer!</h3>
<li><a href="/:Rock">Rock</a></li>
<li><a href="/:Paper">Paper</a></li>
<li><a href="/:Scissors">Scissors</a></li>
